body {
    background-image: linear-gradient(rgb(1, 1, 54), rgb(0, 0, 0));
    color: whitesmoke;
    text-align: center;
    font-family: 'Odibee Sans', sans-serif;
    font-size: 16px;
}

h1 {
    display: flex;
    flex-direction: column;
    margin: 25px auto 0 auto;
    padding: 0 1rem;
    width: max-content;
    font-size: 4rem;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(1, 1, 54));
    border: 2px solid rgb(245, 245, 245);
    border-radius: .7rem;
    box-shadow: 1px 4px #999;
    cursor: pointer;
}

h1:hover {
    color: rgb(255, 165, 0);
    background-image: linear-gradient(rgb(0, 0, 0), rgb(1, 1, 54, .8));
    box-shadow: 1px 4px rgb(102, 102, 102);
}

h1:active {
    transform: translateY(2px);
    box-shadow: 1px 2px rgb(102, 102, 102);
}

h2 {
    font-size: 2.5rem;
}

#score {
    margin: 50px auto 30% auto;
}

